<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>PITM</title>
</head>
<body>
<div class="container-fluid">
    <h1>Parent in the Middle</h1>

    <p>Control your child usage of the internet. Update the configuration below.</p>

    <p>Make sure that the mitmproxy tool is running.</p>

    <div class="row">

        <form method="POST" action="/start">
            <button type="submit" id="mitm_start" class="btn btn-secondary" style="margin:10px">
                Start PITM
            </button>
        </form>
        <br>
        <form method="POST" action="/stop">
            <button type="submit" id="mitm_stop" class="btn btn-secondary" style="margin:10px">
                Stop PITM
            </button>
        </form>

    </div>

    <div class="row">
        <div class="col">
            <form method="POST" action="/submit">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="bannedWords">{{form.bannedWords.label}}</label>
                    {{ form.bannedWords(class_="form-control") }}
                    <small id="bannedWordsHelp" class="form-text text-muted">
                        The below entered words will be added to the filter list
                    </small>
                </div>
                <div class="form-group">
                    <label for="whiteList">{{form.whiteList.label}}</label>
                    {{ form.whiteList(class_="form-control") }}
                    <small id="whiteListHelp" class="form-text text-muted">
                        Only the above URLs will be allowed in the current session.
                    </small>
                </div>
                <div class="form-group">
                    <label for="blackList">{{form.blackList.label}}</label>
                    {{ form.blackList(class_="form-control") }}
                    <small id="blackListHelp" class="form-text text-muted">
                        The above URLs will be blocked in the current session.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="col">
            <p>Session Info:</p>

            <p>Time elapsed since start of session:
                <span>
                    <label id="minutes">00</label>
                    :
                    <label id="seconds">00</label>
                </span>
            </p>


            <p>Websites visited So far in this session:</p>
            {% for ip, sites in websites_visited.items() %}
            <h4>{{ ip }}</h4>
            <ul>
                {% for site in sites %}
                <li>{{ site }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

<script rel="text/javascript">
    var minutesLabel = document.getElementById("minutes");
    var secondsLabel = document.getElementById("seconds");

    var Clock = {
        totalSeconds: 0,

        start: function () {
            var self = this;
            function pad(val) { return val > 9 ? val : "0" + val; }
            this.interval = setInterval(function () {
                self.totalSeconds += 1;

                minutesLabel.innerHTML = pad(Math.floor(self.totalSeconds / 60 % 60));
                secondsLabel.innerHTML = pad(parseInt(self.totalSeconds % 60));
            }, 1000);
        },

        reset: function () {
            Clock.totalSeconds = null;
            clearInterval(this.interval);
            minutesLabel.innerHTML = "00";
            secondsLabel.innerHTML = "00";
        },

        pause: function () {
            clearInterval(this.interval);
            delete this.interval;
        },

        resume: function () {
            if (!this.interval) this.start();
        },

        restart: function () {
            this.reset();
            Clock.start();
        }
    };

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('start') !== null) {
        Clock.start();
    }
    else {
        Clock.pause();
    }
</script>
</body>
</html>